.git
**/.env
**/.env.*
!**/.env.example
**/.next
**/node_modules
**/out
**/.state
**/.cache
**/records
contracts/*
!contracts/aqua-executor
contracts/aqua-executor/*
!contracts/aqua-executor/artifacts
contracts/aqua-executor/artifacts/*
!contracts/aqua-executor/artifacts/AquaGuardV2.json
frontend
